.carousel-wrap {
  height: 212px;
  position: relative;
}
#nav {
  padding: 10px 0;
  text-align: center;

  img {
    width: 48px;
  }

  p {
    margin-top: 7px;
    font-size: 13px;
    margin-bottom: 0;
  }
}
// 租房小组
.groups {
  overflow: hidden;
  padding: 0 10px;
  background-color: #f6f5f6;

  // .groups-title
  &-title {
    margin: 15px 0 15px 10px;

    h3 {
      font-size: 15px;
    }

    span {
      font-size: 14px;
      color: #787d82;
    }
  }

  .am-grid {
    .am-flexbox {
      margin-bottom: 10px;
      background-color: transparent;

      .am-flexbox-item {
        .am-grid-item-content {
          height: 85px;
          padding: 12px 0;
        }
      }

      .am-grid-item {
        margin-right: 0;
        background-color: #fff;

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  .grid-item {
    padding: 0 13px;

    .desc {
      h3 {
        margin-bottom: 5px;
        font-size: 13px;
      }

      p {
        color: #999;
        font-size: 12px;
      }
    }

    img {
      width: 55px;
    }
  }
}
// 最新资讯：
.news {
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
  .group-title {
    margin: 10px 0 5px 10px;
    font-size: 15px;
  }
  .news-item {
    height: 120px;
    padding: 15px 10px 15px 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .news-item:last-child {
    border: 0;
  }
  .imgwrap {
    float: left;
    height: 90px;
    width: 120px;
  }
  .img {
    height: 90px;
    width: 120px;
  }
  .content {
    overflow: hidden;
    height: 100%;
    padding-left: 12px;
  }
  .title {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .info {
    width: 100%;
    color: #9c9fa1;
    font-size: 12px;
  }
  .message-title {
    margin-bottom: 48px;
  }
}
// 顶部搜索栏
.search-nav {
  position: absolute;
  top: 25px;
  z-index: 1;
  width: 100%;
  padding: 0 10px;

  .icon-map {
    font-size: 25px;
    color: #fff;
  }
}
.search-left {
  flex: 1;
  height: 34px;
  margin: 0 10px;
  padding: 5px 5px 5px 8px;
  border-radius: 3px;
  background-color: #fff;

  .icon-arrow {
    font-size: 12px;
    margin-left: 2px;
    color: #7f7f80;
  }
}
.form {
  margin-left: 12px;
  border-left: 1px solid #e5e5e5;
  line-height: 16px;
  color:#9c9fa1;

  .icon-seach {
    padding: 0 2px 0 12px;
    font-size: 15px;
  }

  span {
    padding-left: 4px;
    font-size: 13px;
  }
}